---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


//------------------------------------------------------------------------------
// # Custom font styles.
//------------------------------------------------------------------------------

@font-face {
  font-family: "FixedsysExcelsior301Regular";
  src: url("../fonts/fsex300/fsex300-webfont.eot");
  // IE9 compatibility.
  src: url("../fonts/fsex300/fsex300-webfont.eot?#iefix")
      format("embedded-opentype"),
    // IE7-8(?) compatibility.
      url("../fonts/fsex300/fsex300-webfont.woff") format("woff"),
    // Most modern modern browsers.
      url("../fonts/fsex300/fsex300-webfont.ttf") format("truetype"),
    // Safari, Android, iOS, and other modern browsers.
      url("../fonts/fsex300/fsex300-webfont.svg#FixedsysExcelsior301Regular")
      format("svg");

  text-size-adjust: 100%;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smooth: never;
  // These aren't standardised, but widely supported and prevents fixedsys from
  // being mangled.
}


//------------------------------------------------------------------------------
// # DS overriding variables
//------------------------------------------------------------------------------

// DS grid override.
$bc-media-xl: 1200px;

$bc-grid-gutter-width: 48px;

$bc-font-monospace: "FixedsysExcelsior301Regular", monospace;
$bc-leading: 1.8;


//------------------------------------------------------------------------------
// # Local variables.
//------------------------------------------------------------------------------

$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;

// Base leading (line heights).
$base-leading: 1.7;
$base-heading-leading: 1.4;

// Sizes.
$base-spacing: $base-leading * 1em;
$small-spacing: $base-spacing / 2;
$base-border-radius: 3px;
$base-z-index: 0;

// Colours.
$base-font-color: #d5eac3;
$base-background-color: #111;
$secondary-background-color: lighten($base-background-color, 12%);
$base-red: #ff6d6d;
$base-blue: #8cd3ff;


//------------------------------------------------------------------------------
// # Imports.
//
// File partials are loaded from `sass_dir` (set in `_config.yml`).
//
// Textures thx to refills: http://refills.bourbon.io/components/#textures
//------------------------------------------------------------------------------

@import 'vendor/normalize';
@import 'vendor/textures'; // From bourbon.io

// Bugcrowd Design System
//
// These partials come from the DS git submodule.
//
// References:
// - https://bugcrowd.design/
// - https://github.com/bugcrowd/ds
//
// - Foundations
// Ordering of imports here is very important.
@import 'vendor/bugcrowd-ds/foundations/config'; // Must come first.
@import 'vendor/bugcrowd-ds/foundations/functions'; // Must come before colors.
@import 'vendor/bugcrowd-ds/foundations/colors';
@import 'vendor/bugcrowd-ds/foundations/type';
@import 'vendor/bugcrowd-ds/foundations/mixins'; // Must come after colors & type.
@import 'vendor/bugcrowd-ds/foundations/helpers';
@import 'vendor/bugcrowd-ds/foundations/body'; // Must come after mixins.

// - Containers
@import 'vendor/bugcrowd-ds/containers/grid';
@import 'vendor/bugcrowd-ds/containers/highlight';

// - Components
@import 'vendor/bugcrowd-ds/forms/buttons';


//------------------------------------------------------------------------------
// # Page styles.
//------------------------------------------------------------------------------

.levelup {
  @include texture(0deg, $bc-colordark-bg, darken(#051b28, 7%), 46, 1);

  font-family: $bc-font-monospace;
  text-shadow: #000 2px 0 0;

  a {
    border-bottom: 2px solid darken($base-blue, 50%);
    color: lighten($base-font-color, 10%);
    padding: ($small-spacing / 2);
    padding-top: ($small-spacing / 1.75);
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: rgba(0, 86, 140, 0.5);
      border-bottom: none;
      color: white;
      opacity: 1;
    }

    &:focus {
      @include bc-focus('dark', 'true');
    }
  }
}


// # Basic copy elements in the DOM.
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: $small-spacing;
  margin-top: $small-spacing;
}

pre code {
  opacity: 0.25;
}

hr {
  background-color: transparentize($base-red, 0.75);
  height: $base-spacing;
}


// Header styling.
header#site-banner {
  // height: 100vh;
  margin-bottom: 0;

  // TODO.
  // @include media(screen and $mobile-landscape) {
  //   height: auto;
  // }

  h1 {
    @include bc-sronly();
  }

  // .ascii {
  //   border-bottom: none;

  //   &:hover,
  //   &:focus {
  //     background-color: transparent;
  //   }
  // }

  a pre {
    display: block;
    width: 50em;
    padding: $base-leading * 1em;
    margin-left: $base-leading * 1em;
    color: white;
    font-size: 7px;
    font-weight: bold;
    margin: 0;
    opacity: 0.3;
    text-shadow: 1px 1px 3px #000;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;

    &:hover,
    &:focus {
      color: $base-blue;
      background-color: darken($base-blue, 65%);
      opacity: 0.6;
      border-right: 4px solid darken($base-blue, 73%);
      border-bottom: 4px solid darken($base-blue, 73%);
    }
  }

  p {
    font-size: 1.1em;
    margin: 0;
    opacity: 0.95;

    // TODO.
    // @include media(screen and $mobile-landscape) {
    //   font-size: 1em;
    // }

    &.site-description {
      color: $base-red;
      font-size: 1em;
      opacity: 0.5;
      text-indent: -($small-spacing * 1.25);

      &::before {
        color: $base-font-color;
        content: '';
        opacity: 0.25;
      }
    }
  }

  nav {
    ul {
      font-size: 1.1em;
      padding-left: 0;
      margin-left: -2px;

      li {
        padding-left: 2px;
        margin-bottom: $base-leading * 0.75em;
        list-style-type: square;
        list-style-type: '>';

        a {
          &.is_current {
            background-color: darken(rgba(0, 86, 140, 0.5), 25%);

            &:after {
              content: '[selected]';
              padding-left: 0.5em;
              font-size: 0.875em;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

footer#site-footer {
  a {
    border-bottom: none;
    opacity: 0.7;
  }
}

// Main body styling.
main {
  font-size: 1.25em; // 18
  letter-spacing: 0.5px;
  opacity: 0.9;

  // TODO.
  // @include media(screen and $mobile-landscape) {
  //   font-size: 1em;
  // }

  h2 {
    color: $base-blue;
    opacity: 0.6;
    text-indent: -($small-spacing * 1.8);

    &::before {
      content: '\0023\0023\0020'; // `## `
      opacity: 0.25;
    }
  }

  h3 {
    font-size: 0.875em;
    margin-top: 2em;
    color: $base-font-color;
    opacity: 0.6;
    text-indent: -($small-spacing * 2.5);

    &::before {
      content: '\0023\0023\0023\0020'; // `### `
      opacity: 0.25;
    }
  }

  ul li {
    list-style-type: square;
    margin-bottom: ($small-spacing / 2);
  }

  dl {
    dt,
    dd {
      font-size: 1em; // previous 20 at 1em
    }
    dt {
      color: $base-red;
      margin-top: $small-spacing;
      opacity: 0.65;
      text-indent: -($small-spacing * 1.2);

      &:first-of-type {
        margin-top: 0;
      }

      &::before {
        color: $base-red;
        content: '\002D\0020'; // `- `
        opacity: 0.9;
      }
    }
    dd {
      text-indent: -($small-spacing * 1.3);
      margin-left: ($small-spacing / 0.75);

      &::before {
        content: '\003A\0020'; // `: `
        opacity: 0.25;
      }
    }
  }
}

// Footer styling.
footer#site-footer {
  border-top: $base-spacing solid transparentize($base-red, 0.75);
  clear: both;
  margin-top: ($base-spacing * 2);
  margin-bottom: $small-spacing;
  padding-top: $small-spacing;
  text-align: right;
}

// Table styles.
table {
  border-collapse: collapse;
  border-spacing: 0;

  th {
    background-color: rgba(0, 86, 140, 0.1);
  }

  td,
  th {
    padding: $base-leading * 0.5em;
    font-size: 16px;
    font-weight: normal;
    border-style: solid;
    border-width: 3px;
    border-color: lighten($base-background-color, 7%);
    overflow: hidden;
    word-break: normal;
    text-align: left;
  }
}
