<footer id='site-footer' class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <p class='levelup-aside'>Styles adapted from the Platypus Initiative project -- <a href="https://github.com/klepas/fuckyouimaplatypus-site"><code><&ensp;/&ensp;></code></a></p>
  </div>
</footer>
