<footer class="levelup__footer" id='site-footer'>
  <div class='row'>
    <div class='col-xs-6'>
      <a class="footer__bugcrowd-logo" href="https://bugcrowd.com">
        <img src="/public/images/bugcrowd-ansified-logo-minified.svg" alt="A Bugcrowd project" />
      </a>
    </div>
    <div class='col-xs-6'>
      <p class="bc-helper-righttext"><a href="mailto:{{ site.email }}">mailto: webmaster</a></p>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12'>
      <p class="bc-helper-righttext"><small>Styles adapted from ye ol’ Platypus Initiative site &mdash; <a href="https://github.com/klepas/fuckyouimaplatypus-site"><code>&lt;&ensp;/&ensp;&gt;</code></a></small></p>
    </div>
  </div>
</footer>
