<footer class="levelup__footer" id='site-footer' class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <p><a href="mailto:{{ site.email }}">mailto: admin</a></p>
    <p><small>Styles adapted from the Platypus Initiative project &mdash; <a href="https://github.com/klepas/fuckyouimaplatypus-site"><code><&ensp;/&ensp;></code></a></small></p>
  </div>
</footer>
