<header id="site-banner" class='row'>
  <div class="col-xs-10 col-xs-offset-1">
    <h1 class="levelup__site-title">{{ site.title }}</h1>

    <pre>Sick ASCII art goes here</pre>

    <nav>
      <ul>
        <li>
          <a href="/"{% if page.url == '/' %} class="is_current"{% endif %}>
            LevelUp | Home
          </a>
        </li>
        <li>
          <a href="/conduct.html"{% if page.url == '/conduct' %} class="is_current"{% endif %}>
            Code of Conduct
          </a>
        </li>
        <li><a href="mailto:{{ site.email }}">mailto: admin</a></li>
      </ul>
    </nav>

    <div role="presentation">
      <span class="levelup__site-description">$ cat index.md</span>

      <div role="presentation" class="levelup-aside language-yaml highlighter-rouge">
        <div class="highlight">
          <pre class="highlight"><code><span class="nn">---</span>
<span class="na">layout</span><span class="pi">:</span> <span class="s">levelup</span>
<span class="nn">---</span></code></pre>
        </div>
      </div>
    </div>

  </div>
</header>
