<header id="site-banner" class='row'>
  <div class="col-xs-10 col-xs-offset-1">
    <h1 class="sr-only"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <pre>Sick ASCII art goes here</pre>

    <nav>
      <ul>
        <li>
          <a href="/"{% if page.url == '/' %} class="is_current"{% endif %}>
            LevelUp | Home
          </a>
        </li>
        <li>
          <a href="/conduct.html"{% if page.url == '/conduct' %} class="is_current"{% endif %}>
            Code of Conduct
          </a>
        </li>
        <li><a href="mailto:{{ site.email }}">mailto: leadership</a></li>
      </ul>
    </nav>

    <p class="site-description">{{ site.description }}</p>

    <pre class="subdued"><code>---
layout: levelup
---</code></pre>

  </div>
</header>
