<header id="site-banner">

    <h1 class="sr-only"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <a class="ascii" href="{{ site.baseurl }}/">
      <pre>Sick ASCII art goes here</pre>
    </a>

    <nav>
      <ul>
        <li>
          <a href="/"{% if page.url == '/' %} class="is_current"{% endif %}>
            LevelUp | Home
          </a>
        </li>
        <li>
          <a href="/conduct.html"{% if page.url == '/conduct' %} class="is_current"{% endif %}>
            Code of Conduct
          </a>
        </li>
        <li><a href="mailto:{{ site.email }}">mailto: leadership</a></li>
      </ul>
    </nav>

    <p class="site-description">{{ site.description }}</p>

    {% include rockon-levelup.html %}

    {% if page.abstract %}
      {{ page.abstract | markdownify }}
    {% endif %}

</header>
