---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

////////////////////////////////////////////////////////////////////////////////

//  # Custom monospace fonts.
//
//    Refactor me into a separate partial.
@font-face {
  font-family: 'FixedsysExcelsior301Regular';
  src:  url('../fonts/fsex300/fsex300-webfont.eot');
          // IE9 compat modes fuck you
  src:  url('../fonts/fsex300/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
          // IE7-8(?) compat modes fuck you
        url('../fonts/fsex300/fsex300-webfont.woff') format('woff'),
          // Gen. modern browsers
        url('../fonts/fsex300/fsex300-webfont.ttf') format('truetype'),
          // Safari, Android, iOS and that crap
        url('../fonts/fsex300/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
          // b/c?

  font-weight: normal;
  font-style: normal;

  -webkit-font-smoothing: none; // not handled by autoprefixer?
  -moz-osx-font-smoothing: none; // not handled by autoprefixer?
  font-smooth:never;
  //  These aren't standardised, but prevents fixedsys from being mangled.
}
////////////////////////////////////////////////////////////////////////////////

//  # Custom variables.
//
//    Refactor me into a separate partial.
$fontface-mono: 'FixedsysExcelsior301Regular', monospace;

$base-font-family: $fontface-mono;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

//    Base leading (line heights).
$base-leading: 1.7;
$base-heading-leading: 1.4;

//    Other Sizes.
$base-spacing: $base-leading * 1em;
$small-spacing: $base-spacing / 2;
$base-border-radius: 3px;
$base-z-index: 0;

//    Base colours.
$base-font-color: #d5eac3;
$base-background-color: #111;
$secondary-background-color: lighten($base-background-color, 12%);
$base-red: #FF6D6D;
$base-blue: #8CD3FF;
////////////////////////////////////////////////////////////////////////////////

//  # Import partials.
//
//    File partials are loaded from `sass_dir` (set in `_config.yml`).
//
//    `bourbon` and `neat` are called via gems.
//
//    Textures thx to refills: http://refills.bourbon.io/components/#textures
//
@import
        'normalize',
        'grid-settings',
        'textures';
////////////////////////////////////////////////////////////////////////////////

//  # Basic top-level block elements in the DOM.
//
//    Also gives access to column include and grid settings.
//
body {
  @include texture(0deg, $base-background-color, darken(#051b28, 7%), 46, 1);

  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-leading;
  text-shadow: #000 2px 0 0;

  header#site-banner,
  main {

    @include media($desktop and $large-desktop) {
      @include span-columns(7 of 12);
      @include shift(1);
    }
    @include media($mobile-landscape and $tablet) {
      @include span-columns(8 of 12);
      @include shift(1);
    }
    @include media(screen and $mobile-landscape) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
  }
  footer#site-footer {
    @include media($desktop and $large-desktop) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
    @include media($mobile-landscape and $tablet) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
    @include media(screen and $mobile-landscape) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
  }
}
////////////////////////////////////////////////////////////////////////////////

@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

//  # Basic copy elements in the DOM.
//
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: $base-heading-leading;
  margin-bottom: $small-spacing;
  margin-top: $small-spacing;
}

ul,
ol,
dl,
blockquote,
p {
  font-size: 0.88em;
  margin-bottom: ($base-spacing * 1.5);
}

a {
  border-bottom: 2px solid darken($base-blue, 50%);
  color: lighten($base-font-color, 10%);
  padding: ($small-spacing / 2);
  padding-top: ($small-spacing / 1.75);
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: rgba(0, 86, 140, 0.5);
    border-bottom: none;
    color: white;
    opacity: 1;
  }
}

pre code {
  font-family: $fontface-mono;
  font-size: 14px;
  opacity: 0.25;
  margin: 0;
}

hr {
  background-color: transparentize($base-red, .75);
  border: 0;
  height: $base-spacing;
}
////////////////////////////////////////////////////////////////////////////////

//  # Specific inline-styling within specific blocks.
//

//    Header styling.
header#site-banner {
  // height: 100vh;
  margin-bottom: 0;

  @include media(screen and $mobile-landscape) {
    height: auto;
  }

  h1 {
    @include sr-only;
  }

  .ascii {
    border-bottom: none;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  a pre {
    display: block;
    width: 50em;
    padding: $base-leading * 1em;
    margin-left: $base-leading * 1em;
    color: white;
    font-size: 7px;
    font-weight: bold;
    margin: 0;
    opacity: 0.3;
    text-shadow: 1px 1px 3px #000;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;

    &:hover,
    &:focus {
      color: $base-blue;
      background-color: darken($base-blue, 65%);
      opacity: 0.6;
      border-right: 4px solid darken($base-blue, 73%);
      border-bottom: 4px solid darken($base-blue, 73%);
    }
  }

  p {
    font-size: 1.1em;
    margin: 0;
    opacity: 0.95;

    @include media(screen and $mobile-landscape) {
      font-size: 1em;
    }

    &.site-description {
      color: $base-red;
      font-size: 1em;
      opacity: 0.5;
      text-indent: -($small-spacing * 1.25);

      &::before {
        color: $base-font-color;
        content: '';
        opacity: 0.25;
      }
    }
  }

  nav {
    ul {
      font-size: 1.1em;
      padding-left: 0;
      margin-left: -2px;

      li {
        padding-left: 2px;
        margin-bottom: $base-leading * 0.75em;
        list-style-type: square;
        list-style-type: '>';

        a {
          &.is_current {
            background-color: darken(rgba(0, 86, 140, 0.5), 25%);

            &:after {
              content: '[selected]';
              padding-left: 0.5em;
              font-size: 0.875em;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

footer#site-footer {
  a {
    border-bottom: none;
    opacity: 0.7;
  }
}

//    Main body styling.
main {
  font-size: 1.25em; // 18
  letter-spacing: 0.5px;
  opacity: 0.9;

  @include media(screen and $mobile-landscape) {
    font-size: 1em;
  }

  h2 {
    color: $base-blue;
    opacity: 0.6;
    text-indent: -($small-spacing * 1.8);

    &::before {
      content: "\0023\0023\0020"; // `## `
      opacity: 0.25;
    }
  }

  h3 {
    font-size: 0.875em;
    margin-top: 2em;
    color: $base-font-color;
    opacity: 0.6;
    text-indent: -($small-spacing * 2.5);

    &::before {
      content: "\0023\0023\0023\0020"; // `### `
      opacity: 0.25;
    }
  }

  ul li {
    list-style-type: square;
    margin-bottom: ($small-spacing / 2);
  }

  dl {
    dt,
    dd {
      font-size: 1em; // previous 20 at 1em
    }
    dt {
      color: $base-red;
      margin-top: $small-spacing;
      opacity: 0.65;
      text-indent: -($small-spacing * 1.2);

      &:first-of-type {
        margin-top: 0;
      }

      &::before {
        color: $base-red;
        content: '\002D\0020'; // `- `
        opacity: 0.9;
      }
    }
    dd {
      text-indent: -($small-spacing * 1.3);
      margin-left: ($small-spacing / 0.75);

      &::before {
        content: '\003A\0020'; // `: `
        opacity: 0.25;
      }
    }
  }
}

//    Footer styling.
footer#site-footer {
  border-top: $base-spacing solid transparentize($base-red, .75);
  clear: both;
  margin-top: ($base-spacing * 2);
  margin-bottom: $small-spacing;
  padding-top: $small-spacing;
  text-align: right;
}

///////////
// clean this shit up

.tg {
  border-collapse: collapse;
  border-spacing: 0;

  th {
    background-color: rgba(0, 86, 140, 0.1);
  }

  td,
  th {
    padding: $base-leading * 0.5em;
    font-size: 16px;
    font-weight: normal;
    border-style: solid;
    border-width: 3px;
    border-color: lighten($base-background-color, 7%);
    overflow: hidden;
    word-break: normal;
    text-align: left;
  }

  .tg-yw4l {
    vertical-align: top;
  }
}
