<!DOCTYPE html>
<html>

  {% include head.liquid %}

  <body class='levelup bc-grid bc-body bc-body--dark'>
    <div class='container'>

      {% include header.liquid %}

      <main class="row levelup__markdown">
        <div class="col-xs-10 col-xs-offset-1">
          {{ content }}
        </div>

        {% if page.url == '/' %}
        <div class="col-xs-10 col-xs-offset-1">
          PUT SPEAKER LINEUP HERE
        </div>
        {% endif %}
      </main>

      {% include footer.liquid %}
    </div>
  </body>

</html>
